/* 隐藏滚动条 */
html {
    -ms-scroll-chaining: chained;
    -ms-overflow-style: none;
    -ms-content-zooming: zoom;
    -ms-scroll-rails: none;
    -ms-content-zoom-limit-min: 100%;
    -ms-content-zoom-limit-max: 500%;
    /* -ms-scroll-snap-type: proximity; */
    /* -ms-scroll-snap-points-x: snapList(100%, 200%, 300%, 400%, 500%); */
    -ms-overflow-style: none;
    overflow: auto;

}

#app {
    position: fixed;
    width: 100%;
    height: 100vh;
}


img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 解决img撑大父盒子 */
    vertical-align: bottom;

}

h1,
h2,
h3,
h4,
h5 {
    cursor: default;
}


.singer {
    color: #909399;
    font-size: 12px;
    text-indent: 3px;
    cursor: default;
}

.songname {
    color: #000;
    font-size: 14px;
    text-indent: 3px;
    cursor: default;
}



/* 通用居中 */
.middle {
    display: flex;
    justify-content: center;
    align-items: center;
}